body {
  background: #f5f5f5;;
  height: 100vh;
  display: grid;
  place-items: center;
  margin: 0;  
}
.container {
  display: flex;
  justify-content: center;
  position: relative;
}
.millionz {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:33px;
	border:12px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.millionz:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.millionz:active {
	position:relative;
	top:1px;
}

        